<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>ecom</title>

		<!-- Bootstrap core CSS -->
		<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/dashboard.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
      	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
		<script>
			$(document).ready(function() {
				var v = new Vue({
					el: '#orderList',
					data: {
						orders: []
					}
				});
				find({},function(d){
					console.log(d);
					v.orders = d;
				});
				
				$("#dialog").dialog({
					autoOpen: false,
					width: 500,
					height: 500
				});
				$('#btn_bind').click(function() {
					$("#dialog").dialog("open");
				});
			});

			function find(param, cb) {
				param.st = '20160110000000';
				param.et = '20160210000000';
				post("/api/order/find.htm", param, function(rt) {
					console.log(rt);
					var data = rt.data;
//					$.each(data, function(i, d) {
//						d.itemName = d.items[0].skuName;
//					});
					cb(data);
				});
			}
		</script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ecom</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a id="btn_bind" href="#">绑定帐号</a></li>
						<li><a href="#">Help</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
					</form>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">订单管理 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">订单</a></li>
					</ul>
				</div>

				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div class="row">
						<div class="col-md-12">
							<h2 class="page-header">订单</h2>
							<form class="form-inline">
								<div class="form-group">
									<label for="exampleInputName2">订单ID</label>
									<input type="text" class="form-control" id="orderID" placeholder="order ID">
								</div>
								<div class="form-group">
									<label for="exampleInputName2">平台</label>
									<select class="form-control">
										<option>京东</option>
										<option>淘宝</option>
									</select>
								</div>
								<button type="submit" class="btn btn-default">搜索</button>
							</form>
						</div>
					</div>

					<div class="row" id="orderList">
						<div class="col-md-12">
							<h2 class="sub-header"></h2>
							<div class="row" style="padding-top: 10px; padding-bottom: 10px; background-color: rgba(86,61,124,.15);">
								<div class="col-md-4">商品</div>
								<div class="col-md-2">单价</div>
								<div class="col-md-1">数量</div>
								<div class="col-md-2">实付款(元)</div>
								<div class="col-md-2">状态</div>
								<div class="col-md-1">平台</div>
							</div>

							<div class="row" v-for="order in orders" style="border:1px solid;border-color:rgba(86,61,124,.15);margin-top: 10px;">
								<div class="col-md-12">
									<div class="row" style=" padding-top: 5px; padding-bottom: 5px; background-color: rgba(86,61,124,.15);">
										<div class="col-md-4">
											<input type="checkbox" /> {{order.createdTime}} 订单号: {{order.outerId}}
										</div>
										<div class="col-md-2"></div>
										<div class="col-md-1">{{order.orderItems.length}}</div>
										<div class="col-md-2">{{order.payment/100}}</div>
										<div class="col-md-2">{{order.state}}</div>
										<div class="col-md-1">京东</div>
									</div>
									<div class="row" v-for="item in order.orderItems" style="padding-top: 5px; padding-bottom: 5px; ">
										<div class="col-md-4">
											<div class="row">
												<div class="col-md-4">
													<img src="{{item.img}}" style="width: 100px; height: 100px;"/>
												</div>
												<div class="col-md-8">
													{{item.skuName}}
												</div>
											</div>

										</div>
										<div class="col-md-2">{{item.price/100}}</div>
										<div class="col-md-1">{{item.count}}</div>
										<div class="col-md-2"></div>
										<div class="col-md-2"></div>
										<div class="col-md-1"></div>
									</div>
									
								</div>
							</div>

							<div class="row" style="margin-top: 10px;">
								<div class="col-md-12">
									<span style="display: inline-block; width: 35px; height: 35px; line-height: 35px; font-weight: bold; border: 1px solid rgb(232, 232, 232); text-align: center; color: rgb(232, 232, 232);"><</span>
									<span style="display: inline-block; width: 35px; height: 35px; line-height: 35px; font-weight: bold; border: 1px solid rgb(232, 232, 232); text-align: center; color: rgb(232, 232, 232);">1</span>
									<span style="display: inline-block; width: 35px; height: 35px; line-height: 35px; font-weight: bold; border: 1px solid rgb(232, 232, 232); text-align: center; color: rgb(232, 232, 232);">2</span>
									<span style="display: inline-block; width: 35px; height: 35px; line-height: 35px; font-weight: bold; border: 1px solid rgb(232, 232, 232); text-align: center; color: rgb(232, 232, 232);">></span> 共10页
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="dialog" title="平台账户绑定" style="display: none;">
			<iframe id="ifr_bind" src="/auth.html" width="400" height="550" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes">
			</iframe>
		</div>
	</body>

</html>